[submodule "taco-cloud"]
	path = taco-cloud
	url = https://github.com/MrMatiz2/taco-cloud.git
[submodule "taco-cloud-messaging-jms"]
	path = taco-cloud-messaging-jms
	url = https://github.com/MrMatiz2/taco-cloud-messaging-jms.git
[submodule "taco-cloud-domain"]
	path = taco-cloud-domain
	url = https://github.com/MrMatiz2/taco-cloud-domain.git
[submodule "taco-cloud-messaging-rabbitmq"]
	path = taco-cloud-messaging-rabbitmq
	url = https://github.com/MrMatiz2/taco-cloud-messaging-rabbitmq.git
